extends ../_theme.jade

block vars
  - var slug = 'reginald'
  - var name = 'Reginald'
  - var version = '1.2.6'
  - var demoURL = 'https://wp-themes.com/reginald'
  - var downloadURL = 'https://wordpress.org/themes/reginald/'
  - var options = ['6 Color settings', 'Social Media icons', 'Breadcrumbs', 'Thumbnail visibility', '6 Widget areas']
  - var details = {'Current version': '1.2.6','Latest update': '17 May 2017','Release date': '16 March 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}