extends ../_theme.jade

block vars
  - var slug = 'reginald'
  - var name = 'Reginald'
  - var version = '1.3.0'
  - var demoURL = 'https://wp-themes.com/reginald'
  - var downloadURL = 'https://wordpress.org/themes/reginald/'
  - var options = ['6 Color settings', 'Social Media icons', 'Thumbnail visibility', '6 Widget areas']
  - var details = {'Current version': '1.3.0','Latest update': '17 December 2018','Release date': '16 March 2016','Requirements': 'WordPress 5.0 or Newer','License': 'GNU General Public License v3'}