extends ../_theme.jade

block vars
  - var slug = 'siggen'
  - var name = 'Siggen'
  - var version = '1.3.0'
  - var demoURL = 'https://wp-themes.com/siggen'
  - var downloadURL = 'https://wordpress.org/themes/siggen'
  - var options = ['6 Color settings', 'Social Media icons', 'Sepia filter', 'Custom logo', 'Thumbnail visibility', '3 Widget areas']
  - var details = {'Current version': '1.3.0','Latest update': '20 December 2018','Release date': '9 April 2016','Requirements': 'WordPress 5.0 or Newer','License': 'GNU General Public License v3'}