extends ../_theme.jade

block vars
  - var slug = 'fell'
  - var name = 'Fell'
  - var version = '1.1.5'
  - var demoURL = 'https://wp-themes.com/fell/'
  - var downloadURL = 'https://wordpress.org/themes/fell/'
  - var options = [ 'Fullscreen landing page', 'Color scheme', 'Social Media icons', '3 different layouts', '11 Widget areas' ]
  - var details = { 'Requirements': 'WordPress 5.0 or Newer', 'License': 'GNU General Public License v3' }