extends _head.jade

block content
  .themes-list
    a.themes-list-item(href="/fell")
      img(alt="Fell screenshot" src="/images/fell/screenshot.png")
      h3 Fell

    a.themes-list-item(href="/bidnis")
      img(alt="bidnis screenshot" src="/images/bidnis/screenshot.png")
      h3 Bidnis

    a.themes-list-item(href="/herschel")
      img(alt="herschel screenshot" src="/images/herschel/screenshot.png")
      h3 Herschel

    a.themes-list-item(href="/reginald")
      img(alt="reginald screenshot" src="/images/reginald/screenshot.png")
      h3 Reginald

    a.themes-list-item(href="/ruffie")
      img(alt="ruffie screenshot" src="/images/ruffie/screenshot.png")
      h3 Ruffie

    a.themes-list-item(href="/siggen")
      img(alt="siggen screenshot" src="/images/siggen/screenshot.png")
      h3 Siggen