@charset "UTF-8";

/*
  Gratis Themes website stylesheet
  Version: 1.0.0
  Author: Gratis Themes
  License: MIT 

  
  Table of Contents
  -------------------------------
  1.0 - Variables
  2.0 - Layout
  3.0 - Header
  4.0 - Theme List
  5.0 - Theme
  6.0 - Footer
  -------------------------------
*/

@import "01-variables";
@import "02-layout";
@import "03-header";
@import "04-theme-list";
@import "05-theme";
@import "06-footer";