extends ../_theme.jade

block vars
  - var slug = 'herschel'
  - var name = 'Herschel'
  - var version = '1.5.1'
  - var demoURL = 'https://wp-themes.com/herschel/'
  - var downloadURL = 'https://wordpress.org/themes/herschel/'
  - var options = ['Color scheme', 'Social Media icons', 'Index layout', 'Thumbnail visibility', '6 Widget areas']
  - var details = {'Current version': '1.5.1','Latest update': '14 December 2018','Release date': '8 March 2016','Requirements': 'WordPress 5.0 or Newer','License': 'GNU General Public License v3'}