extends ../_theme.jade

block vars
  - var slug = 'herschel'
  - var name = 'Herschel'
  - var version = '1.4.3'
  - var demoURL = 'https://wp-themes.com/herschel/'
  - var downloadURL = 'https://wordpress.org/themes/herschel/'
  - var options = ['Color scheme', 'Social Media icons', 'Breadcrumbs', 'Index layout', 'Thumbnail visibility', '6 Widget areas']
  - var details = {'Current version': '1.4.3','Latest update': '17 May 2017','Release date': '8 March 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}