extends ../_theme.jade

block vars
  - var slug = 'ruffie'
  - var name = 'Ruffie'
  - var version = '1.5.0'
  - var demoURL = 'https://wp-themes.com/ruffie'
  - var downloadURL = 'https://wordpress.org/themes/ruffie'
  - var options = ['6 Color settings', 'Social Media icons', 'Thumbnail visibility', '7 Widget areas']
  - var details = {'Current version': '1.5.0','Latest update': '29 December 2018','Release date': '24 May 2016','Requirements': 'WordPress 5.0 or Newer','License': 'GNU General Public License v3'}