.copyright {
  background-color: var(--color-orange);
  color: var(--color-baige);
  text-align: center;
  border-block-start: 0.0625em solid var(--color-baige);
  font-weight: 300;
  font-size: 0.8rem;
}