<section class="theme-customize">
  <h1 class="theme-customize__heading">Create a professional looking website in minutes</h1>

  <img class="theme-customize__screenshot" src="/assets/images/themes/{{slug}}/customize.jpg" />

  <p class="theme-customize__description">{{name}} offers a variety of customizable options and features</p>

  <ul class="theme-customize__features">
    {{#each features}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

</section>