<footer class="theme-footer">
  <h2 class="theme-footer__heading">Get started today</h2>

  <div class="cta-wrapper">
    <a class="cta cta-secondary" href="https://demo.gratis-themes.com/{{slug}}/">Demo</a>
    <a class="cta cta-primary" href="https://wordpress.org/themes/{{slug}}">Download</a>
  </div>
</footer>