<section class="theme-responsive">
  <h3 class="theme-responsive__heading">Responsive Design</h3>
  
  <div class="theme-responsive__description">
    <p>All our themes are mobile friendly.</p>
    <p>They adapt automatically when viewed on phones, tablets and other small hand-held devices.</p>
  </div>

  <img class="theme-responsive__image" src="/assets/images/themes/{{slug}}/responsive.png" />
</section>