
    <footer class="site-footer">
      <div class="widget widget-text">
        <h3 class="widget__title">Gratis Themes</h3>
        <p>Gratis Themes is a collection of free <a href="https://wordpress.org">WordPress</a> themes designed with a minimalistic approach yet keep customizability.</p>
      </div>
      
      <div class="widget widget-list">
        <h3 class="widget__title">Support</h3>
        <ul>
          <li><a href="https://profiles.wordpress.org/knifftech/#content-themes">WordPress.org forum</a></li>
        </ul>
      </div>

      <div class="widget widget-list">
        <h3 class="widget__title">Themes</h3>
        <ul>
          <li><a href="/themes/bidnis">Bidnis</a></li>
          <li><a href="/themes/fell">Fell</a></li>
          <li><a href="/themes/herschel">Herschel</a></li>
          <li><a href="/themes/ruffie">Ruffie</a></li>
          <li><a href="/themes/siggen">Siggen</a></li>
          <li><a href="/themes/reginald">Reginald</a></li>
        </ul>
      </div>
    </footer>

    <div class="copyright">Copyright © 2022 Gratis Themes</div>

    <script type="text/javascript">
      const copyright = document.querySelector('.copyright')
      const date      = new Date()

      copyright.innerHTML = copyright.innerHTML.replace('2022', '2016-'+date.getFullYear())
    </script>

  </div><!-- .site-container -->
  
</body>
</html>
