<section class="themes-container">
  {{#> components/card slug="bidnis" heading="Bidnis" subHeading="Boost your business"}}
    Create a website customized to suit your business and its customers.
    This theme is simple, clean, and professional.
    Something a small businesses can use as a starting point.
  {{/components/card}}

  {{#> components/card slug="fell" heading="Fell" subHeading="For those who love the outdoors"}}
    Create a blog for your camping, hiking or other outdoor adventures.
    This theme is stylish with a vintage feel, yet clean and features a full screen landing page.
  {{/components/card}}

  {{#> components/card slug="herschel" heading="Herschel" subHeading="Start your blog today"}}
    Create a blog that is easy to use and looks good at any screen size.
    This theme should allow your readers to focus on your content.
  {{/components/card}}

  {{#if showAll}}
    
    {{#> components/card slug="ruffie" heading="Ruffie" subHeading="Easily build a comic book inspired site"}}
      Create a comic book blog to discuss the latest releases.
      This theme is a great way to showcase the most popular comics and other nerdy items.
    {{/components/card}}
    
    {{#> components/card slug="siggen" heading="Siggen" subHeading="Make your site look classy"}}
      Create a website with posts about the history of antique collecting, or how to get the best deals for vintage products.
    {{/components/card}}
    
    {{#> components/card slug="reginald" heading="Reginald" subHeading="A new level of simplicity"}}
      Create a minimalistic website that is responsive and optimized for mobile.
    {{/components/card}}

  {{/if}}
</section>