extends ../_theme.jade

block vars
  - var slug = 'bidnis'
  - var name = 'Bidnis'
  - var version = '1.2.0'
  - var demoURL = 'https://wp-themes.com/bidnis/'
  - var downloadURL = 'https://wordpress.org/themes/bidnis/'
  - var options = ['Promotional splash screen', 'Color scheme', 'Social Media icons', 'Index layout', 'Thumbnail visibility', '6 Widget areas']
  - var details = {'Current version': '1.2.0', 'Updated': '30 December 2018', 'Released': '16 June 2016', 'Requirements': 'WordPress 5.0 or Newer', 'License': 'GNU General Public License v3'}